.jsonView{
    margin-left: 20px;
    font-family: "SF Mono", "Roboto Mono", "Fira Code", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
    font-size: 16px;
    line-height: 16px;
    padding: 2px;
    cursor: default;
    color: rgb(66, 66, 66);
    white-space: nowrap;
    -webkit-user-select: none;
}

.jsonView>div{
    display: inline-block;
}

.jsonView>.children, .jsonView.insert{
    display: block;
}

.jsonView>.name{
    color: rgb(136, 19, 145);
}

.jsonView>.separator:before{
    content: ":";
}

.jsonView>.separator {
    padding-right: 5px;
}

.jsonView>.value.null{
    color: rgb(128, 128, 128);
}

.jsonView>.value.boolean, .jsonView>.value.number{
    color: rgb(28, 0, 207);
}

.jsonView>.value.string:before, .jsonView>.value.string:after{
    content: "\"";
}

.jsonView>.value.string {
    color: rgb(196, 26, 22);
}

.jsonView>.expand, .jsonView>.collapse{
    min-width: 20px;
    margin-left: -20px;
    cursor: pointer;
}
.jsonView > .expand:not([style]) ~ *:not(.children), .jsonView > .collapse ~ *:not(.children) {
  cursor: pointer;
}

.jsonView>.expand:before{
    content: '\25B6';
}

.jsonView>.collapse:before{
    content: '\25BC';
}
